<div class="container-fluid">
    <div class="row border rounded m-3 p-2">
        <div class="col-12">
            <div class="d-flex flex-row justify-content-between">
                <h2 class="h2 text-center">List of Employee</h2>
                <button mat-raised-button color="primary" data-bs-toggle="modal" data-bs-target="#exampleModal"> + Add
                    Employe</button>
            </div>
            <hr>
            <table class="table table-striped table-hover">
                <thead class="table table-primary">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Surname</th>
                        <th scope="col">Name</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Email</th>
                        <th scope="col">Status</th>
                        <th scope="col">Operations</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of studentsData; let i=index">
                        <th scope="row">{{ i + 1}}</th>
                        <td>{{data?.first_name}}</td>
                        <td>{{data?.last_name}}</td>
                        <td>{{data?.gender}}</td>
                        <td>{{data?.phone}}</td>
                        <td>{{data?.email}}</td>
                        <td><small
                                [class]="data?.status === 'Active' ? 'badge bg-success':'badge bg-danger'">{{data?.status}}</small>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-outline-success mx-1" data-bs-toggle="modal"
                                data-bs-target="#exampleModal" (click)="onEdit(data)">
                                <fa-icon [icon]="faPen"></fa-icon>
                            </button>
                            <button class="btn btn-sm btn-outline-danger mx-1" (click)="onDelete(data.id)">
                                <fa-icon [icon]="faTrash"></fa-icon>
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="!studentsData.length">
                        <td [colSpan]="9" class="text-center">No recored found</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Register Employe Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row" [formGroup]="frm">
                    <div class="col-lg-6">
                        <mat-form-field class="example-full-width">
                            <mat-label>First name</mat-label>
                            <input type="text" matInput formControlName="first_name">
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6">
                        <mat-form-field class="example-full-width">
                            <mat-label>Last name</mat-label>
                            <input type="text" matInput formControlName="last_name">
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6 mt-2">
                        <mat-form-field class="example-full-width">
                            <mat-label>Select Gender</mat-label>
                            <mat-select formControlName="gender">
                                <mat-option *ngFor="let gen of genders" [value]="gen.value">
                                    {{gen.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6 mt-2">
                        <mat-form-field class="example-full-width">
                            <mat-label>Select Status</mat-label>
                            <mat-select formControlName="status">
                                <mat-option *ngFor="let status of statuses" [value]="status.value">
                                    {{status.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6 mt-2">
                        <mat-form-field class="example-full-width">
                            <mat-label>Phone</mat-label>
                            <input type="number" matInput #postalCode maxlength="10" formControlName="phone">
                            <mat-hint align="end">{{postalCode.value.length}} / 10</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6 mt-2 mb-4">
                        <mat-form-field class="example-full-width">
                            <mat-label>Email address</mat-label>
                            <input type="email" matInput formControlName="email">
                        </mat-form-field>
                    </div>
                    <hr>
                    <!-- <div>
                        <button mat-raised-button color="primary">{{userId ? 'Update' :
                            ''}}</button>
                    </div> -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" mat-raised-button color="primary" data-bs-dismiss="modal" (click)="onSubmit()">+
                    Add Details</button>
            </div>
        </div>
    </div>
</div>