h2 {
    font-size: 24px;
    line-height: 44px;
    font-weight: 400;
    margin-bottom: 0;
    font-weight: bold;
    font-family: "Google Sans", Helvetica "Neue", sans-serif;
}

.form-group {
    position: relative;
    padding-bottom: 16px;
}

.form-group label {
    color: #241f1f;
    display: block;
    font-size: 16px;
}

.input-wrap {
    position: relative;
}

.cursor-pointer {
    cursor: pointer;
}